

.header-container {
    
    text-align: center;
    padding: 2rem;
    gap : 2rem;
    background-color: #111;
    height: 100px;
}




.header-container h2 {
    font-size: 2.1rem;
    color: rgba(246, 42, 42, 0.742);
    font-weight: 800;
}


.search-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    align-items: center;
    gap: 1rem;
}

.search-container input {
    padding: 14px 5px;
    width: 420px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    
    color: rgba(246, 42, 42, 0.742);
    font-weight: 600;
}

.search-container button {
    padding: 14px 40px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #222;
    color: rgba(246, 42, 42, 0.742);
    border-radius: 10px;
}


.weather-details {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(246, 42, 42, 0.742) 0px 0px 0px 3px;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 0rem 3rem;
}

.weather-details p {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 60vh;
}














